$cor_fundo: #0E0B1E;
$cor_principal: #1C1C42;
$cor_texto_destaque_azul: #2ABDCD;
$cor_cinza_1: #333;
$cor_cinza_2: #bbb;
$cor_cinza_2: #525252;
$cor_imagem_perfil1: #ff8a00;
$cor_imagem_perfil1: #2ABDCD;
$cor_azul_AUDIOV: #0a7c89;
$cor_azul_PROG: #007bff;
